--
-- PostgreSQL database dump
--

\restrict 9IQWhd9vFeX7s0Ezcda0a4rsLK2eeVL74PvjGOZ9c3Lz0Mg6Qojfq6ecLOWAOOl

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: admin_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public.admin_user DISABLE TRIGGER ALL;

COPY public.admin_user (admin_user_id, uuid, status, email, password, full_name, created_at, updated_at) FROM stdin;
1	3732702b-d4ff-4d78-ae60-474680ac3ff5	t	admin@admin.com	$2a$10$H/I3w/c5xMpEilxy9eCc6.sEjnURliQl0uSjJMUnNkJG9vUbyx0O2	Riki	2026-06-30 00:06:42.84636+00	2026-06-30 00:06:42.84636+00
\.


ALTER TABLE public.admin_user ENABLE TRIGGER ALL;

--
-- Data for Name: attribute; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.attribute DISABLE TRIGGER ALL;

COPY public.attribute (attribute_id, uuid, attribute_code, attribute_name, type, is_required, display_on_frontend, sort_order, is_filterable) FROM stdin;
1	6f8edca0-f8f9-415d-b8eb-6b01b31ef5d2	color	Color	select	f	t	0	t
2	50bda8b0-8394-46c9-a87a-ada831e9ae67	size	Size	select	f	t	0	t
\.


ALTER TABLE public.attribute ENABLE TRIGGER ALL;

--
-- Data for Name: attribute_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.attribute_group DISABLE TRIGGER ALL;

COPY public.attribute_group (attribute_group_id, uuid, group_name, created_at, updated_at) FROM stdin;
1	df42aa01-b0e1-49f4-8bb5-8a2dffe6e359	Default	2026-06-30 00:06:01.612023+00	2026-06-30 00:06:01.612023+00
2	6058e75b-5715-4309-8151-b295f4512028	Demo Products	2026-06-30 00:06:59.905444+00	2026-06-30 00:06:59.905444+00
\.


ALTER TABLE public.attribute_group ENABLE TRIGGER ALL;

--
-- Data for Name: attribute_group_link; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.attribute_group_link DISABLE TRIGGER ALL;

COPY public.attribute_group_link (attribute_group_link_id, attribute_id, group_id) FROM stdin;
1	1	1
2	2	1
3	1	2
4	2	2
\.


ALTER TABLE public.attribute_group_link ENABLE TRIGGER ALL;

--
-- Data for Name: attribute_option; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.attribute_option DISABLE TRIGGER ALL;



ALTER TABLE public.attribute_option ENABLE TRIGGER ALL;

--
-- Data for Name: shipping_zone; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.shipping_zone DISABLE TRIGGER ALL;

COPY public.shipping_zone (shipping_zone_id, uuid, name, country) FROM stdin;
\.


ALTER TABLE public.shipping_zone ENABLE TRIGGER ALL;

--
-- Data for Name: cart; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.cart DISABLE TRIGGER ALL;



ALTER TABLE public.cart ENABLE TRIGGER ALL;

--
-- Data for Name: cart_address; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.cart_address DISABLE TRIGGER ALL;

COPY public.cart_address (cart_address_id, uuid, full_name, postcode, telephone, country, province, city, address_1, address_2) FROM stdin;
\.


ALTER TABLE public.cart_address ENABLE TRIGGER ALL;

--
-- Data for Name: category; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.category DISABLE TRIGGER ALL;

COPY public.category (category_id, uuid, status, parent_id, include_in_nav, "position", show_products, created_at, updated_at) FROM stdin;
1	47336f6c-e6f1-4187-b86d-d0373ebce57d	t	\N	t	\N	t	2026-06-30 00:06:01.612023+00	2026-06-30 00:06:01.612023+00
2	c8eabd68-bb71-4358-8874-31b9ec1e1c58	t	\N	t	\N	t	2026-06-30 00:06:01.612023+00	2026-06-30 00:06:01.612023+00
3	06eff1e8-b4e6-4597-846b-e2f53797f9f0	t	\N	t	\N	t	2026-06-30 00:06:01.612023+00	2026-06-30 00:06:01.612023+00
4	d6ecee85-6967-4b17-a6b8-d8cd0ba67dde	t	\N	t	\N	t	2026-06-30 00:07:00.070264+00	2026-06-30 00:07:00.070264+00
\.


ALTER TABLE public.category ENABLE TRIGGER ALL;

--
-- Data for Name: tax_class; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.tax_class DISABLE TRIGGER ALL;

COPY public.tax_class (tax_class_id, uuid, name) FROM stdin;
1	c6469c3e-d240-409e-92ad-d0192e0d379b	Taxable Goods
\.


ALTER TABLE public.tax_class ENABLE TRIGGER ALL;

--
-- Data for Name: variant_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.variant_group DISABLE TRIGGER ALL;

COPY public.variant_group (variant_group_id, uuid, attribute_group_id, attribute_one, attribute_two, attribute_three, attribute_four, attribute_five, visibility) FROM stdin;
1	36e58753-0a58-4517-a507-22cce5385295	2	1	\N	\N	\N	\N	t
2	aa6c43dc-5dda-48e5-8979-12e31210a81a	2	1	\N	\N	\N	\N	t
3	fedca0af-671c-48ca-a1ae-f9b3c6e6b517	2	1	\N	\N	\N	\N	t
4	9c6b8962-c08f-4882-a815-cdd89f26f2c3	2	1	\N	\N	\N	\N	t
5	d06ab64a-7851-4b02-9f6b-961a554743a9	2	1	\N	\N	\N	\N	t
\.


ALTER TABLE public.variant_group ENABLE TRIGGER ALL;

--
-- Data for Name: product; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.product DISABLE TRIGGER ALL;



ALTER TABLE public.product ENABLE TRIGGER ALL;

--
-- Data for Name: cart_item; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.cart_item DISABLE TRIGGER ALL;

COPY public.cart_item (cart_item_id, uuid, cart_id, product_id, product_sku, product_name, thumbnail, product_weight, product_price, product_price_incl_tax, qty, final_price, final_price_incl_tax, tax_percent, tax_amount, tax_amount_before_discount, discount_amount, line_total, line_total_with_discount, line_total_incl_tax, line_total_with_discount_incl_tax, variant_group_id, variant_options, product_custom_options, created_at, updated_at, no_shipping_required) FROM stdin;
\.


ALTER TABLE public.cart_item ENABLE TRIGGER ALL;

--
-- Data for Name: category_description; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.category_description DISABLE TRIGGER ALL;



ALTER TABLE public.category_description ENABLE TRIGGER ALL;

--
-- Data for Name: cms_page; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.cms_page DISABLE TRIGGER ALL;

COPY public.cms_page (cms_page_id, uuid, status, created_at, updated_at) FROM stdin;
1	19c49b35-185c-4f80-9393-89444c970a9b	t	2026-06-30 00:08:05.273846+00	2026-06-30 00:08:05.273846+00
\.


ALTER TABLE public.cms_page ENABLE TRIGGER ALL;

--
-- Data for Name: cms_page_description; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.cms_page_description DISABLE TRIGGER ALL;



ALTER TABLE public.cms_page_description ENABLE TRIGGER ALL;

--
-- Data for Name: collection; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.collection DISABLE TRIGGER ALL;



ALTER TABLE public.collection ENABLE TRIGGER ALL;

--
-- Data for Name: coupon; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.coupon DISABLE TRIGGER ALL;

COPY public.coupon (coupon_id, uuid, status, description, discount_amount, free_shipping, discount_type, coupon, used_time, target_products, condition, user_condition, buyx_gety, max_uses_time_per_coupon, max_uses_time_per_customer, start_date, end_date, created_at, updated_at) FROM stdin;
\.


ALTER TABLE public.coupon ENABLE TRIGGER ALL;

--
-- Data for Name: customer_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.customer_group DISABLE TRIGGER ALL;

COPY public.customer_group (customer_group_id, uuid, group_name, created_at, updated_at) FROM stdin;
1	76b4991c-51c0-479d-80b6-56ed5e5f1e7d	Default	2026-06-30 00:06:04.427675+00	2026-06-30 00:06:04.427675+00
\.


ALTER TABLE public.customer_group ENABLE TRIGGER ALL;

--
-- Data for Name: customer; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.customer DISABLE TRIGGER ALL;

COPY public.customer (customer_id, uuid, status, group_id, email, password, full_name, created_at, updated_at) FROM stdin;
\.


ALTER TABLE public.customer ENABLE TRIGGER ALL;

--
-- Data for Name: customer_address; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.customer_address DISABLE TRIGGER ALL;

COPY public.customer_address (customer_address_id, uuid, customer_id, full_name, telephone, address_1, address_2, postcode, city, province, country, created_at, updated_at, is_default) FROM stdin;
\.


ALTER TABLE public.customer_address ENABLE TRIGGER ALL;

--
-- Data for Name: event; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.event DISABLE TRIGGER ALL;

COPY public.event (event_id, uuid, name, data, created_at, status, started_at, completed_at) FROM stdin;
\.


ALTER TABLE public.event ENABLE TRIGGER ALL;

--
-- Data for Name: migration; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.migration DISABLE TRIGGER ALL;



ALTER TABLE public.migration ENABLE TRIGGER ALL;

--
-- Data for Name: order; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."order" DISABLE TRIGGER ALL;



ALTER TABLE public."order" ENABLE TRIGGER ALL;

--
-- Data for Name: order_activity; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.order_activity DISABLE TRIGGER ALL;

COPY public.order_activity (order_activity_id, uuid, order_activity_order_id, comment, customer_notified, created_at, updated_at) FROM stdin;
\.


ALTER TABLE public.order_activity ENABLE TRIGGER ALL;

--
-- Data for Name: order_address; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.order_address DISABLE TRIGGER ALL;

COPY public.order_address (order_address_id, uuid, full_name, postcode, telephone, country, province, city, address_1, address_2) FROM stdin;
\.


ALTER TABLE public.order_address ENABLE TRIGGER ALL;

--
-- Data for Name: order_item; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.order_item DISABLE TRIGGER ALL;

COPY public.order_item (order_item_id, uuid, order_item_order_id, product_id, referer, product_sku, product_name, thumbnail, product_weight, product_price, product_price_incl_tax, qty, final_price, final_price_incl_tax, tax_percent, tax_amount, tax_amount_before_discount, discount_amount, line_total, line_total_with_discount, line_total_incl_tax, line_total_with_discount_incl_tax, variant_group_id, variant_options, product_custom_options, requested_data, no_shipping_required) FROM stdin;
\.


ALTER TABLE public.order_item ENABLE TRIGGER ALL;

--
-- Data for Name: payment_transaction; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.payment_transaction DISABLE TRIGGER ALL;

COPY public.payment_transaction (payment_transaction_id, uuid, payment_transaction_order_id, transaction_id, transaction_type, amount, parent_transaction_id, payment_action, additional_information, created_at) FROM stdin;
\.


ALTER TABLE public.payment_transaction ENABLE TRIGGER ALL;

--
-- Data for Name: product_attribute_value_index; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.product_attribute_value_index DISABLE TRIGGER ALL;

COPY public.product_attribute_value_index (product_attribute_value_index_id, product_id, attribute_id, option_id, option_text) FROM stdin;
1	1	1	1	White
2	2	1	2	Black
3	3	1	3	Yellow
4	4	1	1	White
5	5	1	2	Black
6	6	1	3	Yellow
7	7	1	1	White
8	8	1	2	Black
9	9	1	3	Yellow
10	10	1	1	White
11	11	1	2	Black
12	12	1	9	Green
13	13	1	1	White
14	14	1	2	Black
15	15	1	3	Yellow
\.


ALTER TABLE public.product_attribute_value_index ENABLE TRIGGER ALL;

--
-- Data for Name: product_collection; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.product_collection DISABLE TRIGGER ALL;

COPY public.product_collection (product_collection_id, collection_id, product_id) FROM stdin;
\.


ALTER TABLE public.product_collection ENABLE TRIGGER ALL;

--
-- Data for Name: product_custom_option; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.product_custom_option DISABLE TRIGGER ALL;

COPY public.product_custom_option (product_custom_option_id, uuid, product_custom_option_product_id, option_name, option_type, is_required, sort_order) FROM stdin;
\.


ALTER TABLE public.product_custom_option ENABLE TRIGGER ALL;

--
-- Data for Name: product_custom_option_value; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.product_custom_option_value DISABLE TRIGGER ALL;

COPY public.product_custom_option_value (product_custom_option_value_id, uuid, option_id, extra_price, sort_order, value) FROM stdin;
\.


ALTER TABLE public.product_custom_option_value ENABLE TRIGGER ALL;

--
-- Data for Name: product_description; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.product_description DISABLE TRIGGER ALL;



ALTER TABLE public.product_description ENABLE TRIGGER ALL;

--
-- Data for Name: product_image; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.product_image DISABLE TRIGGER ALL;



ALTER TABLE public.product_image ENABLE TRIGGER ALL;

--
-- Data for Name: product_inventory; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.product_inventory DISABLE TRIGGER ALL;

COPY public.product_inventory (product_inventory_id, product_inventory_product_id, qty, manage_stock, stock_availability) FROM stdin;
1	1	100	t	t
2	2	100	t	t
3	3	100	t	t
4	4	150	t	t
5	5	150	t	t
6	6	150	t	t
7	7	80	t	t
8	8	80	t	t
9	9	80	t	t
10	10	60	t	t
11	11	60	t	t
12	12	60	t	t
13	13	120	t	t
14	14	120	t	t
15	15	120	t	t
\.


ALTER TABLE public.product_inventory ENABLE TRIGGER ALL;

--
-- Data for Name: reset_password_token; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.reset_password_token DISABLE TRIGGER ALL;

COPY public.reset_password_token (reset_password_token_id, customer_id, token, created_at) FROM stdin;
\.


ALTER TABLE public.reset_password_token ENABLE TRIGGER ALL;

--
-- Data for Name: session; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.session DISABLE TRIGGER ALL;

COPY public.session (sid, sess, expire) FROM stdin;
lCjgA636mwuUZrKVNKnxuHu_KdhhE7YC	{"cookie":{"originalMaxAge":86400000,"expires":"2026-07-01T00:09:38.090Z","secure":false,"httpOnly":true,"path":"/"},"notifications":[],"userID":1}	2026-07-01 00:44:50
ZbLgZo6Ws24C4XOuZSu2sidQi3em53N0	{"cookie":{"originalMaxAge":86400000,"expires":"2026-07-01T00:09:32.000Z","secure":false,"httpOnly":true,"path":"/"},"notifications":[]}	2026-07-01 00:47:36
\.


ALTER TABLE public.session ENABLE TRIGGER ALL;

--
-- Data for Name: setting; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.setting DISABLE TRIGGER ALL;

COPY public.setting (setting_id, uuid, name, value, is_json) FROM stdin;
\.


ALTER TABLE public.setting ENABLE TRIGGER ALL;

--
-- Data for Name: shipment; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.shipment DISABLE TRIGGER ALL;

COPY public.shipment (shipment_id, uuid, shipment_order_id, carrier, tracking_number, created_at, updated_at) FROM stdin;
\.


ALTER TABLE public.shipment ENABLE TRIGGER ALL;

--
-- Data for Name: shipping_method; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.shipping_method DISABLE TRIGGER ALL;

COPY public.shipping_method (shipping_method_id, uuid, name) FROM stdin;
\.


ALTER TABLE public.shipping_method ENABLE TRIGGER ALL;

--
-- Data for Name: shipping_zone_method; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.shipping_zone_method DISABLE TRIGGER ALL;

COPY public.shipping_zone_method (shipping_zone_method_id, method_id, zone_id, is_enabled, cost, calculate_api, condition_type, max, min, price_based_cost, weight_based_cost) FROM stdin;
\.


ALTER TABLE public.shipping_zone_method ENABLE TRIGGER ALL;

--
-- Data for Name: shipping_zone_province; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.shipping_zone_province DISABLE TRIGGER ALL;

COPY public.shipping_zone_province (shipping_zone_province_id, uuid, zone_id, province) FROM stdin;
\.


ALTER TABLE public.shipping_zone_province ENABLE TRIGGER ALL;

--
-- Data for Name: tax_rate; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.tax_rate DISABLE TRIGGER ALL;

COPY public.tax_rate (tax_rate_id, uuid, name, tax_class_id, country, province, postcode, rate, is_compound, priority) FROM stdin;
1	40e49d58-be66-4f93-9954-c2524b3489bf	Tax	1	*	*	*	0.0000	f	0
\.


ALTER TABLE public.tax_rate ENABLE TRIGGER ALL;

--
-- Data for Name: url_rewrite; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.url_rewrite DISABLE TRIGGER ALL;



ALTER TABLE public.url_rewrite ENABLE TRIGGER ALL;

--
-- Data for Name: widget; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.widget DISABLE TRIGGER ALL;



ALTER TABLE public.widget ENABLE TRIGGER ALL;

--
-- Name: admin_user_admin_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.admin_user_admin_user_id_seq', 1, true);


--
-- Name: attribute_attribute_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attribute_attribute_id_seq', 2, true);


--
-- Name: attribute_group_attribute_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attribute_group_attribute_group_id_seq', 2, true);


--
-- Name: attribute_group_link_attribute_group_link_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attribute_group_link_attribute_group_link_id_seq', 4, true);


--
-- Name: attribute_option_attribute_option_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attribute_option_attribute_option_id_seq', 17, true);


--
-- Name: cart_address_cart_address_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cart_address_cart_address_id_seq', 1, false);


--
-- Name: cart_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cart_cart_id_seq', 1, false);


--
-- Name: cart_item_cart_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cart_item_cart_item_id_seq', 1, false);


--
-- Name: category_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.category_category_id_seq', 4, true);


--
-- Name: category_description_category_description_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.category_description_category_description_id_seq', 4, true);


--
-- Name: cms_page_cms_page_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cms_page_cms_page_id_seq', 1, true);


--
-- Name: cms_page_description_cms_page_description_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cms_page_description_cms_page_description_id_seq', 1, true);


--
-- Name: collection_collection_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.collection_collection_id_seq', 4, true);


--
-- Name: coupon_coupon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.coupon_coupon_id_seq', 1, false);


--
-- Name: customer_address_customer_address_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customer_address_customer_address_id_seq', 1, false);


--
-- Name: customer_customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customer_customer_id_seq', 1, false);


--
-- Name: customer_group_customer_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customer_group_customer_group_id_seq', 1, true);


--
-- Name: event_event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.event_event_id_seq', 34, true);


--
-- Name: migration_migration_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.migration_migration_id_seq', 37, true);


--
-- Name: order_activity_order_activity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_activity_order_activity_id_seq', 1, false);


--
-- Name: order_address_order_address_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_address_order_address_id_seq', 1, false);


--
-- Name: order_item_order_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_item_order_item_id_seq', 1, false);


--
-- Name: order_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_order_id_seq', 1, false);


--
-- Name: payment_transaction_payment_transaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.payment_transaction_payment_transaction_id_seq', 1, false);


--
-- Name: product_attribute_value_index_product_attribute_value_index_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_attribute_value_index_product_attribute_value_index_seq', 15, true);


--
-- Name: product_collection_product_collection_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_collection_product_collection_id_seq', 15, true);


--
-- Name: product_custom_option_product_custom_option_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_custom_option_product_custom_option_id_seq', 1, false);


--
-- Name: product_custom_option_value_product_custom_option_value_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_custom_option_value_product_custom_option_value_id_seq', 1, false);


--
-- Name: product_description_product_description_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_description_product_description_id_seq', 15, true);


--
-- Name: product_image_product_image_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_image_product_image_id_seq', 15, true);


--
-- Name: product_inventory_product_inventory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_inventory_product_inventory_id_seq', 15, true);


--
-- Name: product_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_product_id_seq', 15, true);


--
-- Name: reset_password_token_reset_password_token_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reset_password_token_reset_password_token_id_seq', 1, false);


--
-- Name: setting_setting_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.setting_setting_id_seq', 1, false);


--
-- Name: shipment_shipment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shipment_shipment_id_seq', 1, false);


--
-- Name: shipping_method_shipping_method_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shipping_method_shipping_method_id_seq', 1, false);


--
-- Name: shipping_zone_method_shipping_zone_method_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shipping_zone_method_shipping_zone_method_id_seq', 1, false);


--
-- Name: shipping_zone_province_shipping_zone_province_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shipping_zone_province_shipping_zone_province_id_seq', 1, false);


--
-- Name: shipping_zone_shipping_zone_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shipping_zone_shipping_zone_id_seq', 1, false);


--
-- Name: tax_class_tax_class_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tax_class_tax_class_id_seq', 1, true);


--
-- Name: tax_rate_tax_rate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tax_rate_tax_rate_id_seq', 1, true);


--
-- Name: url_rewrite_url_rewrite_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.url_rewrite_url_rewrite_id_seq', 34, true);


--
-- Name: variant_group_variant_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.variant_group_variant_group_id_seq', 5, true);


--
-- Name: widget_widget_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.widget_widget_id_seq', 3, true);


--
-- PostgreSQL database dump complete
--

\unrestrict 9IQWhd9vFeX7s0Ezcda0a4rsLK2eeVL74PvjGOZ9c3Lz0Mg6Qojfq6ecLOWAOOl

